table.spreadsheet {
    border-collapse: collapse;
}

table.spreadsheet td {
    min-width: 100px;
    border: 1px solid #999;
}

table.spreadsheet td input.edit-cell {
    position: absolute;
}

table.spreadsheet td span.cell-error {
    color: red;
}

table.spreadsheet td span.computed-cell {
    color: green;
}
